body {
    margin: 0;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    width: 150px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-height: 700px; 
    
}

.rows {
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    justify-content: center; 
}


#container > .rows > div {    
    flex-basis: 50px;   
}



